@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Merriweather');

body {
    text-align: center;
font-family: 'Merriweather', serif;

    h1 {
        font-family: 'Fira Sans', sans-serif;
    }
    textarea {
        height: 100px;
        width: 300px;
    }
}



